<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Payment Default ML API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
</head>
<body>
    <header>
        <h1>Welcome to Credit Card Payment Default Detection</h1>
    </header>

    <main>
     <section class="cta">
            <h2>Get Started Now</h2>
            <a href="/predict" class="btn">Go to Dashboard</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Credit Card Payment Default Detection</p>
    </footer>
</body>
</html>